<a href="https://colab.research.google.com/github/bastianpardo/saliency_metrics/blob/master/codigo_prueba_codelco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
def funcion (lista):

  d= {1: 'I', 2: 'II', 3:'III', 4: 'IV', 5:'V', 6:'VI', 7:'VII', 8:'VIII', 9:'IX', 10:'X', 20:'XX'}

  d_r = { v: k  for k, v  in  d.items()}
  l=[]
  for name in lista:
   l.append(name.replace(name.split( ' ')[1], str(d_r[name.split( ' ')[1]])) )
  l.sort()
  ll=[]
  for name in l:
   ll.append(name.replace(name.split( ' ')[1], str( d[int(name.split( ' ')[1])] ) ) ) 

  
  return ll

In [98]:

d= {1: 'I', 2: 'II', 3:'III', 4: 'IV', 5:'V', 6:'VI', 7:'VII', 8:'VIII', 9:'IX', 10:'X'}

d_r = { v: k  for k, v  in  d.items()}

In [100]:
funcion(n)

['juan I', 'juan XX', 'miguel I', 'miguel X', 'miguel II']

In [143]:
import pandas as pd
def roman_n(name):
  s=0
  p= name.find('  ')

  if 'XL'in name.split( ' ')[1]:
    name=name.replace('XL', '')
    s=s+40

  if 'IV' in name.split( ' ')[1]:
    name= name.replace('IV', '')
    s=s+4

  if 'V'in name.split( ' ')[1]:
    name=name.replace('V', '5')
    s=s+5
  if 'IX' in name.split( ' ')[1]:
    name=name.replace('IX', '')
    s=s+9
  
  if 'XX'in name.split( ' ')[1]:
    name=name.replace('X', '')
    s=s+20
  if 'XXX'in name.split( ' ')[1]:
    name=name.replace('X', '')
    s=s+30

  if 'X'in name.split( ' ')[1]:
    name=name.replace('X', '')
    s=s+10
 

  if 'L'in name.split( ' ')[1]:
    name=name.replace('L', '')
    s=s+50



  if 'II'in name.split( ' ')[1]:
    name=name.replace('II', '')
    s=s+2
  if 'III'in name.split( ' ')[1]:
    name=name.replace('III', '')
    s=s+3

  if 'I'in name.split( ' ')[1]:
    name=name.replace('I', '')    
    s=s+1
 


  return s


n= ['miguel II', 'miguel X', 'miguel I', 'juan XX', 'juan I']

def funcion (lista):

  d= {1: 'I', 2: 'II', 3:'III', 4: 'IV', 5:'V', 6:'VI', 7:'VII', 8:'VIII', 9:'IX', 10:'X', 20:'XX'}
  d_r = { v: k  for k, v  in  d.items()}
  l=[]
  for name in lista:
   l.append(name.replace(name.split( ' ')[1], str(d_r[name.split( ' ')[1]])).split(' ')  )
 
  df= pd.DataFrame(l, columns=['nombre', 'number'])
  df['number']= df['number'].astype(int)

  df['final']= df.apply(lambda x: str(x.nombre)+' ' +str(d[x.number ]) , axis=1  )
  df= df.sort_values(by=['nombre','number'])
  return df['final'].to_list()

In [144]:
funcion(n)

['juan I', 'juan XX', 'miguel I', 'miguel II', 'miguel X']

In [163]:
def roman_n(name):
  s=0
  p= name.find('  ')

  if 'XL'in name.split( ' ')[1]:
    name=name.replace('XL', '')
    s=s+40

  if 'IV' in name.split( ' ')[1]:
    name= name.replace('IV', '')
    s=s+4

  if 'V'in name.split( ' ')[1]:
    name=name.replace('V', '5')
    s=s+5
  if 'IX' in name.split( ' ')[1]:
    name=name.replace('IX', '')
    s=s+9
  
  if 'XX'in name.split( ' ')[1]:
    name=name.replace('X', '')
    s=s+20
  if 'XXX'in name.split( ' ')[1]:
    name=name.replace('X', '')
    s=s+30

  if 'X'in name.split( ' ')[1]:
    name=name.replace('X', '')
    s=s+10
 

  if 'L'in name.split( ' ')[1]:
    name=name.replace('L', '')
    s=s+50



  if 'II'in name.split( ' ')[1]:
    name=name.replace('II', '')
    s=s+2
  if 'III'in name.split( ' ')[1]:
    name=name.replace('III', '')
    s=s+3

  if 'I'in name.split( ' ')[1]:
    name=name.replace('I', '')    
    s=s+1
 


  return s

In [164]:
n= 'XX'

n.replace('XLIX', '10')
n

'XX'

In [184]:
roman_n('IÃ±ejando LV')

55